<div class="">
    <div class="">
      <h2>Booking List</h2>
    </div>
    <div  class="">
      <table class="table table-striped">
        <thead>
          <tr>
            <th>BookingID</th>
            <th>PassengerName</th>
            <th>PassengerContactNumber</th>
            <th>PickupTime</th>
            <th>Asap</th>
            <th>WaitingTime</th>
            <th>NoOfPassengers</th>
            <th>Price</th>
            <th>Rating</th>
            <!-- <th>createdOn</th> -->
            <!-- <th>lastModifiedOn</th> -->
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of bookings | async">
            <td>{{booking.bookingId}}</td>
            <td>{{booking.passengerName}}</td>
            <td>{{booking.passengerContactNumber}}</td>
            <td>{{booking.pickupTime}}</td>
            <td>{{booking.asap}}</td>
            <td>{{booking.waitingTime}}</td>
            <td>{{booking.noOfPassengers}}</td>
            <td>{{booking.price}}</td>
            <td>{{booking.rating}}</td>
            <!-- <td>{{bookings.createdOn}}</td> -->
            <!-- <td>{{bookings.lastModifiedOn}}</td> -->
         
            <td>
                <button (click)="deleteBooking(booking.bookingId)" class="btn btn-danger">Delete</button>
                <button (click)="updateBooking(booking.bookingId)" class="btn btn-info" style="margin-left: 10px">Update</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>